/* src/styles/main.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cText: #656765;
}

/* ダークモード時のスタイル */
@media (prefers-color-scheme: dark) {
  :root {
    --cText: #fcfaf2;
  }
}

.text {
  color: var(--cText);
}
